# Ignore everything in dest and src
dest/*
src/*

# But not these files...
!.gitignore
!README.md
!LICENSE
!dest/etc/group
!dest/etc/hosts
!dest/etc/passwd
!dest/etc/profile
!dest/etc/os-release
!dest/etc/lsb-release
!dest/etc/mkshrc
!dest/etc/mk.conf
!dest/etc/mk.d/*
!dest/usr/bin/grep
!dest/usr/bin/egrep
!dest/usr/bin/fgrep
!dest/usr/bin/pgrep
!dest/usr/local/scripts/*
!dest/usr/pkgsrc/Aalbus/*
!src/bootstrap
!src/chroot-aalbus
!src/ngtc_env.sh
!src/ngtc_start.sh
!src/aalbus-config-llvm.sh
!src/perl-config

# ...even if they are in subdirectories
!*/ 
